[Unit]
Description=gunicorn daemon
Requires=project1.socket
After=network.target

[Service]
User=petryk
Group=petryk
WorkingDirectory=/home/petryk/django-template/project1
ExecStart=/home/petryk/django-template/env/env/bin/gunicorn --access-logfile /home/petryk/django-template/env/gunicorn/log/gunicorn.log --workers 3  --bind unix:/home/petryk/django-template/project1/project1.sock config.wsgi:application  

[Install]
WantedBy=multi-user.target


# ln -s /home/petryk/django-template/env/gunicorn/project1.service /etc/systemd/system